// Import library functions for theme creation.
@use '@angular/material' as mat;
@import '@angular/material/theming';

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin dashboard-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .dashboard {
    // Use mat-color to extract individual colors from a palette.
    background-color: mat.get-color-from-palette($primary);
    border-color: mat.get-color-from-palette($accent, A400);
    color: mat.get-color-from-palette($accent);
  }
}
  



@mixin dashboard-typography($config) {
  .dashboard {
    font: {
      family: mat.font-family($config, body-1);
      size: mat.font-size($config, body-1);
      weight: mat.font-weight($config, body-1);
    }
  }
}
    
  
