// Custom Theming for Angular Material
@use "@angular/material" as mat;
@use './app/modules/admin/components/bid/bid-sheet/bid-sheet.theme.scss' as bidsheet;
@use './app/modules/admin/components/bid/bid-sheets/bid-sheets.theme.scss' as bidsheets;
@use './app/modules/admin/components/job/job-list/job-list.theme.scss' as joblist;

@use './app/modules/measure/components/measure-list/measure-list.theme.scss' as measurelist;
@use './app/modules/measure/components/measure-detail/measure-detail.theme.scss' as measureDetail;
@use './app/modules/measure/components/measure-room-edit/measure-room-edit.theme.scss' as measureRoomEdit;
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

@use "./styles/typography/config" as typography;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@include mat.core(typography.$my-app-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@import "~@angular/material/theming";

$mat-primary-scheme: (
  100: #d1c4e9,
  500: #2b26e1,
  700: #512da8,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: #ffffff,
    700: #ffffff,
  ),
);
$mat-accent-scheme: (
  100: #ffe57f,
  500: #ffd740,
  700: #ffc400,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  ),
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);
$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);
  @include bidsheet.theme($app-light-theme);
  @include bidsheets.theme($app-light-theme);
  @include joblist.theme($app-light-theme);
  @include measurelist.theme($app-light-theme);
  @include measureDetail.theme($app-light-theme);
  @include measureRoomEdit.theme($app-light-theme);
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.dark-mode {
  @include angular-material-theme($app-dark-theme);
  @include bidsheet.theme($app-dark-theme);
  @include bidsheets.theme($app-dark-theme);
  @include joblist.theme($app-dark-theme);
  @include measurelist.theme($app-dark-theme);
  @include measureDetail.theme($app-dark-theme);
  @include measureRoomEdit.theme($app-dark-theme);

  background-color: #333;
  color: whitesmoke;
}

@import "styles/variables";

// Import functions, variables, and mixins needed by other Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities"; // Configures the utility classes that should be generated

// Import Bootstrap Reboot
//@import "~bootstrap/scss/root"; // Contains :root CSS variables used by other Bootstrap files
//@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/containers"; // Add .container and .container-fluid classes
@import "~bootstrap/scss/grid"; // Add the grid system
//@import "~bootstrap/scss/helpers";
//@import "~bootstrap/scss/utilities/api"; // Generates the actual utility classes

//@import "~bootstrap/scss/bootstrap.scss";
@import "styles/reset";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  position: relative;
  //  min-height: 200px;
  //  margin: 20px;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545c;
}
nav a.active {
  background-color: black;
  color: white;
}
hr {
  margin: 1.5rem 0;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.full-width {
  width: 100%;
}



.PageContainer {
  padding: 10pt
}
