<div class="PageContainer container mat-elevation-z8" >
  <h1 mat-dialog-title>Bid Area Edit</h1>
  <div mat-dialog-content class="container" [formGroup]="form">
    <input [hidden]="true" type="number" formControlName="id" placeholder="id">
    <input [hidden]="true" type="checkbox" formControlName="deleted" placeholder="deleted">
    <input [hidden]="true" type="number" formControlName="row" placeholder="row">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Bedroom" uppercase maxlength="50" required="true" formControlName="name" />
      <mat-error *ngIf="displayMessage['name']">{{displayMessage['name']}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput type="text" placeholder="INSTALL AND STAIN" uppercase formControlName="description" />
      <mat-error *ngIf="displayMessage['description']">{{displayMessage['description']}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Notes</mat-label>
      <textarea matInput type="text" placeholder="INSTALL AND STAIN" uppercase autoresize formControlName="notes" ></textarea>
      <mat-error *ngIf="displayMessage['notes']">{{displayMessage['notes']}}</mat-error>
    </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button (click)="onSave()" color="primary" [disabled]="!form.valid || !isDirty()">
      Save
    </button>
  </div>
</div>
