<mat-toolbar color="primary">
  <span>
    <button mat-button routerLink='home'>{{product}}</button>
  </span>

  <span>
    <button *ngIf='isAdmin()' mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
    <mat-menu #adminMenu="matMenu" yPosition="below">
      <button mat-menu-item *ngIf='authenticated' routerLink='secure/customer'>Customers</button>
      <button mat-menu-item *ngIf='authenticated' routerLink='secure/dashboard'>Dashboard</button>
      <button mat-menu-item *ngIf='isAdmin()' routerLink='secure/admin/jobs'>Jobs</button>
      <button mat-menu-item *ngIf='isAdmin()' routerLink='secure/admin/measures'>Measure</button>
      <button mat-menu-item *ngIf='isAdmin()' routerLink='secure/admin/users'>Users</button>
    </mat-menu>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
    <lib-msal-sub-menu></lib-msal-sub-menu>
  </span>
  <mat-slide-toggle
    (click)="toggleDarkTheme()"
    [(ngModel)]="isDark"
    class="theme-toggle"
    aria-label="Toggle Dark Theme"
  >
    <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
  </mat-slide-toggle>
</mat-toolbar>
