<div *ngIf="!data" class="MeasureDetail container">
  <button mat-raised-button color="primary" (click)="create()" >Create </button>
</div>

<div *ngIf="data">

  <div class="notes">
    NOTES: {{data?.notes}}
  </div>
  <div class="action-buttons PageContainer" >
    <button mat-raised-button color="primary" (click)="accordion?.openAll()">Expand All</button>
    <button mat-raised-button color="primary" (click)="accordion?.closeAll()">Collapse All</button>
    <mat-checkbox [(ngModel)]="showDeleted">Show Deleted</mat-checkbox>
  </div>
  <mat-accordion class="MeasureDetail" multi >
    <div  *ngFor="let item of data?.items">
    <mat-expansion-panel [expanded]="true" *ngIf="!hideItem(item)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item?.material}}
        </mat-panel-title>
        <mat-panel-description>
        <div *ngIf="item?.rolledGoods">Rolled Goods - Width = {{item.width}}</div>
        </mat-panel-description>
        <mat-action-row>
          <mat-icon aria-hidden="false" (click)="editMaterial($event, item)" aria-label="Edit Area icon" matTooltip="Edit Material">edit</mat-icon>
          <mat-icon aria-hidden="false" (click)="deleteMaterial($event, item)" *ngIf="!item.deleted" aria-label="Delete Material icon" matTooltip="Delete Materiual">delete</mat-icon>
          <mat-icon aria-hidden="false" (click)="restoreMaterial($event, item)" *ngIf="item.deleted" aria-label="Undelete Material icon" matTooltip="Undelete Material">restore</mat-icon>
          <mat-icon aria-hidden="false" (click)="addRoom($event, item)" aria-label="Add Material icon" matTooltip="Add Room">
            add_box</mat-icon>
        </mat-action-row>
      </mat-expansion-panel-header>
      <table class="table">
        <thead>
          <tr >
            <td class="col-1 center">Floor</td>
            <td class="col-2 center">Room</td>
            <td class="col-4 left">Description</td>
            <td class="col-2 center">Cuts</td>
            <td class="col-2 center">Transitions</td>
            <td class="col-1 center">Actions</td>
          </tr>
        </thead>
        <tbody  *ngFor="let room of item.rooms">
          <tr *ngIf="!hide(room)"  >
            <td class="center">{{room.floor}}</td>
            <td class="center">{{room.room}}</td>
            <td >{{room.description}}</td>
            <td>
              <div *ngFor="let cut of room.cuts">
              <div *ngIf="!cut.deleted">{{cut.width}} x {{cut.length}} - {{cut.notes}}</div>
            </div>
            <td>
              <div *ngFor="let trans of room.transitions">
              <div *ngIf="!trans.deleted">{{trans.type}} - {{trans.length}}&apos; - {{trans.notes}}</div>
            </div>
            </td>
            <td class="center">
              <mat-icon aria-hidden="false" (click)="editRoom(room)" aria-label="Edit Room icon" matTooltip="Edit Room">edit</mat-icon>
              <mat-icon aria-hidden="false" (click)="deleteRoom(room)" *ngIf="!room.deleted" aria-label="Delete Room icon" matTooltip="Delete Room">delete</mat-icon>
              <mat-icon aria-hidden="false" (click)="restoreRoom(room)" *ngIf="room.deleted" aria-label="Undelete Room icon" matTooltip="Undelete Room">restore</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>

    </mat-expansion-panel>
  </div>
  </mat-accordion>


</div>
