@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme, $dark) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');

  @if $dark {
    .JobListTable tr:nth-child(even) .mat-cell{
      color: mat.get-color-from-palette($accent-palette, 500);
    }
  }
  @else {
    .JobListTable tr:nth-child(even) {
      background-color: mat.get-color-from-palette($accent-palette, 500);
    }
  }

}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  .JobListTable {
    font-family: mat.font-family($typography-config);
  }
}

@mixin theme($theme, $dark) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($theme, $dark);
  }

  //$typography-config: mat.get-typography-config($theme);
  //@if $typography-config != null {
  //  @include typography($theme);
  //}
}
