<div class="PageContainer container mat-elevation-z8">
  <H1>JOBS</H1>
  <div class="table-container">
    <mat-form-field class="Search">
      <mat-icon matPrefix>search</mat-icon>
      <input #in (input)="dataSource.queryBy({lastname: in.value})" type="text" matInput placeholder="Search">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select #status (selectionChange)="dataSource.queryBy({status: status.value})">
        <mat-option>None</mat-option>
        <mat-option value="InitialReview">Initial Review</mat-option>
        <mat-option value="NeedsReview">Needs Review</mat-option>
        <mat-option value="WaitingOnMaterials">Waiting On Materials</mat-option>
        <mat-option value="ReadyToSchedule">Ready To Schedule</mat-option>
        <mat-option value="Scheduled">Scheduled</mat-option>
        <mat-option value="ReadyToBill">Ready to Bill</mat-option>
        <mat-option value="Billed">Billed</mat-option>
        <mat-option value="Done">Done</mat-option>
        <mat-option value="Cancelled">Cancelled</mat-option>
      </mat-select>
    </mat-form-field>

      <mat-label>Upload Preliminary</mat-label>

  <!--  <div class="row" style="margin-bottom:15px;">     -->
      <div class="col-md-3 dropdiv" [class.processing]="processing" (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
        <input type="file" #file placeholder="Choose file" (change)="onChange($event)" style="display:none;">
<!--        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>> -->
      </div>
      <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
          {{progress}}%
          <mat-progress-bar mode="determinate" value="progress"></mat-progress-bar>
        </span>
        <span class="upload" *ngIf="message">
          {{message}}
        </span>
      </div>
    <!--    </div>       -->


    <div class="progress" [class.processing]="processing">
      Processing...
    </div>

    <mat-table class="JobListTable" [dataSource]="dataSource" matSort matSortDisableClear
      (matSortChange)="dataSource.sortBy({property: $event.active, order: $event.direction})">
      <!-- Number Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">
          <span class="mat-cell" >{{row.id}}</span>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Program Manager
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.name}}
        </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="line1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Address
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.address1}}
        </td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          City
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.city}}
        </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          State
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.state}}
        </td>
      </ng-container>

      <!-- zip Column -->
      <ng-container matColumnDef="zip">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Zip Code
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.zipCode}}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          End Date
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.projectEndDate | date:'MM-dd-yyyy'}}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="ourTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Our Total
        </th>
        <td mat-cell *matCellDef="let row">
          {{row.ourTotal | currency:'USD'}}
        </td>
      </ng-container>
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Status
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-select [(value)]="row.status" placeholder="Favorite"
            (selectionChange)="onStatusChange($event, row.id, row.status)"
            (click)="$event.stopPropagation()">
              <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.title}}</mat-option>
            </mat-select>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="full"></tr>
      <tr mat-row routerLink="/admin/job/{{row.id}}" (dblclick)="select(row.id)"
        *matRowDef="let row; columns: displayedColumns;" class="full"></tr>
    </mat-table>
  </div>

  <mat-paginator *ngIf="dataSource.page$ | async as page" [length]="page.rowCount" [pageSize]="page.pageSize"
    [pageIndex]="page.currentPage - 1" [hidePageSize]="true" (page)="dataSource.fetch($event.pageIndex)">
  </mat-paginator>
</div>
