<div class="PageContainer container mat-elevation-z8" >
  <H1>Job Details</H1>
  <app-job-header [id]="id"></app-job-header>

  <mat-tab-group>
    <mat-tab label="Bid Sheet">
          <app-bid-sheets [jobId]=id></app-bid-sheets>
    </mat-tab>
    <mat-tab label="Measure">
          <app-measure-detail [jobId]=id></app-measure-detail>
    </mat-tab>
    <mat-tab label="Work Orders">
      <ng-template matTabContent>
          <app-work-order [jobId]="id"></app-work-order>
      </ng-template>
    </mat-tab>
    <mat-tab label="Images">
      <ng-template matTabContent>
          <app-images [jobId]="id"></app-images>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
