<div class="container mat-elevation-z8" style="padding: 10pt">
  <H1>Job Details</H1>
  <app-job-header [data]="data"></app-job-header>

  <mat-tab-group>
    <mat-tab label="Bid Sheet">
      <ng-template matTabContent>
        <div style="margin-top: 10px;">
          <app-bid-sheet [jobId]=id></app-bid-sheet>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Measure">
      <ng-template matTabContent>
        <div style="margin-top: 10px;">
          <app-measure-detail [jobId]=id></app-measure-detail>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Work Orders">
      <ng-template matTabContent>
        <div style="margin-top: 10px;">
          <app-work-order [jobId]="id"></app-work-order>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
